<dx-scheduler timeZone="America/Los_Angeles" [dataSource]="appointmentsData" [views]="['week']" currentView="week"
  [currentDate]="currentDate" [startDayHour]="9" [height]="730" (onContentReady)="onContentReady($event)"
  (onAppointmentRendered)="onAppointmentRendered($event)">
</dx-scheduler>

<div id="header" style="display: flex; width: 100%; justify-content: space-between;">
  @for (a of appointmentArray; track $index) {
  <div style="height: 100px; width: 100px; display: flex; align-items: center; justify-content: center;">
    {{a.dayName}} <br>
    Hour:{{a.hour}} <br>
    Minute:{{a.minute}}
  </div>
  }
</div>

<router-outlet />